body{
    background-image: url("/assets/logopiri.png");
     background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.buttonanimation {
  transition: transform 0.5s ease-in-out;
}

.buttonanimation:hover {
  transform: scale(1.05);
}