body{
    background-image: url("/assets/sfondofinale.jpg");
     background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.buttonanimation {
  background: linear-gradient(90deg, #7f00ff, #00bfff) !important;
  border: none !important;
  color: white !important;
  padding: 0.5rem 1rem !important;
  border-radius: 0.375rem !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) !important;
  transition: transform 0.3s ease-in-out !important;
}

.buttonanimation:hover {
  transform: scale(1.05) !important;
}

.footeranchor{
  text-decoration: none;
  color: white;
}
.footeranchor:hover{
  color: aqua;
}

.translate{
transform: translateY(-82px);
color: white;

}

.fontnuovo{
  font-family: "Cormorant", serif;
          font-size: 55px;
}

.coloreJ{
  color: #937DD2;
}
.colorep{
color: #20ADFC;
}

.font-personalizzato-titolo{
  font-size: 45px;
 
 font-family: "Montserrat", sans-serif;
}
.gira{
     transform: rotate(-180deg)
}


.translatep2 {
    transform: translate(229px, 64px);


}

.translatep3 {
    transform: translate(229px, 74px);


}
.neon-border {
  border-radius: 50%;
  border: 4px solid #e71fff;
    box-shadow: 0 0 5px #ff3ae1, 0 0 10px #db27eb, 0 0 20px #ff00f5, 0 0 40px #f321eb;
  transition: box-shadow 0.3s ease-in-out;
}
.col img {
  transition: transform 0.2s;
}

.col img:hover {
  transform: scale(1.1);
}